<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <table>
    <tr>
<th>Id</th>
<th>Username</th>
<th>Email</th>
<th>Password</th>
<th>Edit User</th>
<th>Delete User</th>
    
  </tr>
  <% for (user of users) { %>
 
    <tr>

      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><form action="/users/<%= user.id %>/edit">

     <button>Edit</button>

      </form></td>

      <td>

        <form method="post"  action="/users/<%= user.id %>?_method=DELETE">

<button>Delete</button>

        </form>

      </td>
    </tr>
 

    <% } %>

  </table>

  <br>

  <form method="get" action="/users/new">

<button>Add New User</button>

  </form>

  
</body>
</html>